<ion-content>
  <h1>Vai dar namoro</h1>
  <h3>Vamos ver se ele(a) goxxxxta?</h3>

  <ion-item class="ion-no-padding">
    <ion-label position="floating">Primeiro nome</ion-label>
    <ion-input [(ngModel)]="nome1" type="text"></ion-input>
  </ion-item>
  <div class="icone"><ion-icon name="add"></ion-icon></div>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Segundo nome</ion-label>
    <ion-input [(ngModel)]="nome2" type="text"></ion-input>
  </ion-item>

  <ion-button (click)="calcular()" id="open-resposta" expand="full" color="danger">Calcular</ion-button>

  <ion-modal id="resposta" #modal trigger="open-resposta">
    <ng-template>
      <h1>{{porcentagem}}%</h1> 
    </ng-template>
  </ion-modal>
</ion-content>